ion-content.profile-page {
  background-color: #24222f;
}

.profile-page ion-card {
  background-color: rgba(150, 150, 150, 0.6)
}

.profile-page img.profile-avatar {
  padding-top: 10px;
  border-radius: 50%;
  height: 110px;
  width: auto;
  margin: auto;
  display: block;
}

.content {
  position: absolute;
  width: 100%;
  display: block;
}

.profile-page .cover {
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: contrast(50%);
  z-index: -10;
  position: relative;
}

ion-grid.actions {
  background-color: #2c2831;
  padding: 0px !important;
  -webkit-box-shadow: 0px 8px 23px -7px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0px 8px 23px -7px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 8px 23px -7px rgba(0, 0, 0, 0.76);
}

ion-grid.actions button {
  color: #F5F5F5 !important;
}
